{% extends 'base.html.twig' %}

{% block styles %}
  <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
  <section class="top-posts">
      <article class="main-post top-post">
          <a href="#" class="category-link">World</a>
          <img src="{{ article.image }}" alt="" class="img-fluid">
          <h1>{{ article.title }}</h1>
          <time>{{ article.publishedAt|date('Y-m-d') }}</time>
          <p>{{ article.body }}</p>
          <div class="clearfix"></div>
      </article>
  </section>

{% endblock %}